/* set display:block for workspace tab container */
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container
{
	display:block !important;
	overflow:scroll !important;
}
/* set display:contents for key elements */
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf,
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf .workspace-leaf-content:not([data-type="pdf"]),
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf .workspace-leaf-content:not([data-type="pdf"]) .view-content,
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf .workspace-leaf-content[data-mode="source"]:not([data-type="pdf"]):not([data-type="image"]):not([data-type="graph"]) .view-content > div:not([style*="display"]),
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf .workspace-leaf-content[data-mode="source"]:not([data-type="pdf"]) .view-content .markdown-preview-view,
.workspace-leaf-content[data-type="empty"] .view-content .empty-state,
.workspace-leaf-content[data-type="empty"] .view-content .empty-state-container
{
	display:contents !important;
}
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf
.workspace-leaf-content[data-type="graph"] .view-content {
	display:flex !important;
}

/* padding bottom */
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container, 
.workspace-split.mod-vertical.mod-root .workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf .cm-editor .cm-content
{
	padding-bottom:0 !important;
}
/* markdown preview*/
.workspace-tabs.is_continuous_mode .workspace-leaf-content[data-mode="preview"] .view-content .markdown-reading-view, 
.workspace-tabs.is_continuous_mode .workspace-leaf-content[data-mode="preview"] .view-content .markdown-reading-view .markdown-preview-view
{
	display:block !important; 
	height:auto !important;
}
/* markdown preview sizer margin */
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .markdown-preview-sizer 
{
	min-height:0 !important; 
	margin:var(--file-margins); 
	padding:0 !important;
}
/* active note borders */
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active::before,
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active + .workspace-leaf::before,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active)::before
{
	content:'';
	width:100%;
	display:block !important;
	position:relative;
}
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active::before
{
	border-top:2px solid var(--text-faint);
}
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active + .workspace-leaf::before 
{
	border-top:1px solid var(--text-faint) !important;
}
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active)::before
{
	border-top:2px dotted var(--text-faint);
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf.mod-active .view-header
{ 
	border-bottom:1px solid var(--text-faint);
	position:relative;
}
/* image note styles */
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf .workspace-leaf-content[data-type="image"] div.image-container
{
	padding:var(--file-margins);
}
/* image size */
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .markdown-preview-view img:not([width]), 
.markdown-rendered img:not([width])
{
/*	max-width:calc(100% - 2*var(--file-margins)); */
}
/* pdf note styles */
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="pdf"] .view-content
{
	display:block !important;
	overflow:scroll;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="pdf"] .view-content .pdf-container .pdf-content-container,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="pdf"] .view-content .pdf-container .pdf-content-container .pdf-viewer-container,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="canvas"] .view-content .canvas-wrapper
{
	position:relative !important;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="pdf"] {
	height:calc(100% - 3px);
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="graph"] .view-content,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="canvas"] .view-content .canvas-wrapper
{
	height:calc(100% - var(--header-height) - 3px);
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container .workspace-leaf .workspace-leaf-content[data-type="pdf"] .pdf-viewer
{
	padding-top:var(--file-margins);
	padding-bottom:var(--file-margins);
}
/* Set Margins for rendered markdown preview */
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .markdown-preview-view.markdown-rendered > *
{
	margin-left:var(--file-margins);
	margin-right:var(--file-margins);
}
/* empty-state tabs (new tab) */
.workspace-tabs.is_continuous_mode .workspace-leaf-content[data-type="empty"] .view-content .empty-state-container .empty-state-action-list
{
	margin-bottom:20px;
}
/* hide leaf headers */
.is_continuous_mode.hide_note_titles .view-header,
.is_continuous_mode.hide_note_titles .workspace-leaf-content[data-type="pdf"] .pdf-toolbar
{ 
	height:0;
	visibility:hidden;
}
/* scroll active leaf into view behavior */
.workspace-tabs.is_continuous_mode .workspace-tab-container {
	scroll-behavior:smooth;
}
/* min width for tab headers; needed when opening many tabs */
.workspace.mod-root.workspace-tab-header {
	min-width:100px;
}
/* prevent canvas scroll in continuous mode */
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active) .canvas-wrapper,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active)  .workspace-leaf-content[data-type="pdf"] .view-content,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active)  .workspace-leaf-content[data-type="graph"] .view-content 
{
	pointer-events:none !important;
}
/* settings */
.setting-indent 
{
	padding-left:2em;
	position:relative;
	box-sizing:content-box;
}
.setting-indent div.setting-item-name::before 
{
	content:'• ';
	color:var(--text-normal);
}
/* hide conditionally displayed menu items */
div.menu-item:has(.menu-item-title:empty) {
	display:none !important;
}