.workspace-tabs.is_continuous_mode:not(.mod-stacked)
{
	
}

.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-tab-container
{
	display:block !important;
	overflow-y:scroll;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf
{
	contain:none !important;
	display:flex !important;
	height:auto !important;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf .view-content .cm-sizer,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf .view-content .cm-content,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf .view-content > div > div
{
	padding-bottom:0 !important;
	min-height:fit-content !important;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf .view-content > div > div > div
{
	padding-bottom:var(--file-margins) !important;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf .empty-state
{
	position:relative !important;
}

/* SPECIFIC VIEW TYPES */
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf:has(div[data-type="canvas"]),
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf:has(div[data-type="graph"]),
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf:has(div[data-type="html-view"]),
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf:has(div[data-type="pdf"]),
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="pdf"],
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .pdf-container,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .pdf-content-container,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf:has(div[data-type="html-view"]) .view-content,
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="canvas"] .view-content .canvas-wrapper
{
	height:calc(100% - 2px) !important;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf-content[data-type="canvas"] .view-content .canvas-wrapper
{
	contain:unset;
}
/* prevent scroll in inactive canvas, graph, html, pdf leaves in continuous mode */
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active) .canvas-wrapper,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active) .workspace-leaf-content[data-type="html-view"] .view-content,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active) .workspace-leaf-content[data-type="html-view"] iframe,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active) .workspace-leaf-content[data-type="pdf"] .view-content,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active) .workspace-leaf-content[data-type="graph"] .view-content 
{
	pointer-events:none !important;
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf:has(div[data-type="html-view"]):not(.mod-active) .view-content::before
{
	content:'';
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	pointer-events:none;
}


/* ACTIVE LEAF BORDERS */
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active::before,
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active + .workspace-leaf::before,
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active)::before
{
	content:'';
	width:100%;
	display:block !important;
	position:relative;
}
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active::before
{
	border-top:2px solid var(--text-faint);
}
.workspace-tabs.is_continuous_mode .workspace-leaf.mod-active + .workspace-leaf::before 
{
	border-top:1px solid var(--text-faint) !important;
}
.workspace-tabs.is_continuous_mode .workspace-leaf:not(.mod-active)::before
{
	border-top:2px dotted var(--text-faint);
}
.workspace-tabs.is_continuous_mode:not(.mod-stacked) .workspace-leaf.mod-active .view-header
{ 
	border-bottom:1px solid var(--text-faint);
	position:relative;
}

/* HIDE LEAF HEADERS */
.workspace-tabs.is_continuous_mode:not(.mod-stacked).hide_note_titles .view-header,
.workspace-tabs.is_continuous_mode:not(.mod-stacked).hide_note_titles .workspace-leaf-content[data-type="pdf"] .pdf-toolbar
{ 
	height:0;
	visibility:hidden;
}
/* SETTINGS PANE */
.cm-setting-indent 
{
	padding-left:2em;
	position:relative;
	box-sizing:content-box;
}
.cm-setting-indent div.setting-item-name::before 
{
	content:'• ';
	color:var(--text-normal);
}
/* OPEN LINKS IN CONTINUOUS MODE BUTTON */
.continuous_mode_open_links_button {
	padding: var(--size-2-2) var(--size-2-3);
    position: absolute;
    top: var(--size-2-2);
    right: var(--size-4-10);
    width:30px;
    height:26px;
    display: flex;
    opacity: 0;
    color: var(--icon-color) !important;
    border-radius: var(--radius-s);
    cursor: var(--cursor);
    z-index:100;
}
.markdown-reading-view .continuous_mode_open_links_button, .markdown-preview-view .continuous_mode_open_links_button {
    right: var(--size-2-2);
}
.cm-preview-code-block:hover .continuous_mode_open_links_button, .block-language-dataview:hover .continuous_mode_open_links_button, .internal-query:hover .continuous_mode_open_links_button {
	opacity:1;
}
.block-language-dataview:has(.continuous_mode_open_links_button), .internal-query:has(.continuous_mode_open_links_button) {
	position:relative;
}

/* OutlinerMD plugin fixes */
.workspace-tabs.is_continuous_mode .workspace-leaf-content[data-type="outliner-editor-view"] div.outliner-editor .cm-editor
{
	min-height:fit-content !important;
}

